services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: self-rag-app
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - .:/app
    command: ["python", "main.py"]

  qdrant:
    image: qdrant/qdrant:v1.16
    container_name: qdrant
    restart: unless-stopped

    ports:
      - "${QDRANT_HTTP_PORT}:6333"
      - "${QDRANT_GRPC_PORT}:6334"

    environment:
      QDRANT__SERVICE__API_KEY: ${QDRANT_API_KEY}
      QDRANT__STORAGE__STORAGE_PATH: /qdrant/storage
      QDRANT__STORAGE__SNAPSHOT_PATH: /qdrant/snapshots

    volumes:
      - ${QDRANT_STORAGE_PATH}:/qdrant/storage
      - ${QDRANT_SNAPSHOT_PATH}:/qdrant/snapshots
